In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [4]:
df_esg = pd.read_csv('true_esg.csv')

In [5]:
df_esg

    Symbol  Environment Risk Score  Social Risk Score  Governance Risk Score
0        A                     0.3                8.6                    6.3
1       AA                    14.3                5.9                    4.3
2      AAL                    11.5               12.3                    5.3
3      AAP                     0.1                8.3                    3.1
4     AAPL                     0.6                6.9                    9.2
..     ...                     ...                ...                    ...
776    YUM                     4.0               12.0                    4.0
777      Z                     1.0               13.0                   10.0
778    ZBH                     4.0               15.0                    8.0
779    ZTR                     9.0                9.0                    6.0
780    ZTS                     1.0                8.0                    9.0

[781 rows x 4 columns]

In [6]:
df_fin = pd.read_csv('financials.csv')

In [7]:
df_fin

,Unnamed: 0,Компания,Чистая прибыль 2019,Чистая прибыль 2020,Чистая прибыль 2021,Капитализация 2019,Капитализация 2020,Капитализация 2021
0,0,A,1.070000e+09,7.190000e+08,1.210000e+09,2.540000e+10,3.600000e+10,4.200000e+10
1,1,AA,-1.120000e+09,-1.700000e+08,4.290000e+08,2.650000e+09,4.270000e+09,1.100000e+10
2,2,AAL,1.690000e+09,-8.880000e+09,-1.990000e+09,1.230000e+10,1.010000e+10,1.110000e+10
3,3,AAP,4.870000e+08,NaN,4.930000e+08,9.900000e+09,NaN,1.560000e+10
4,4,AAPL,5.530000e+10,5.740000e+10,9.470000e+10,1.150000e+12,2.000000e+12,2.740000e+12
...,...,...,...,...,...,...,...,...
776,776,YUM,1.290000e+09,9.040000e+08,1.580000e+09,3.260000e+10,3.070000e+10,3.620000e+10
777,777,Z,-3.050000e+08,-1.620000e+08,-5.280000e+08,9.770000e+09,2.920000e+10,1.260000e+10
778,778,ZBH,1.130000e+09,-1.390000e+08,4.020000e+08,3.100000e+10,3.070000e+10,2.570000e+10
779,779,ZTR,NaN,NaN,NaN,NaN,NaN,NaN
780,780,ZTS,1.500000e+09,1.640000e+09,2.040000e+09,6.600000e+10,7.280000e+10,9.460000e+10

In [13]:
df = df_esg
df['sum'] = df['Environment Risk Score'] + df['Social Risk Score'] + df['Governance Risk Score']
df['rise'] = (df_fin['Чистая прибыль 2020']-df_fin['Чистая прибыль 2019'])/df_fin['Чистая прибыль 2019']
df

,Symbol,Environment Risk Score,Social Risk Score,Governance Risk Score,sum,rise
0,A,0.3,8.6,6.3,15.2,-0.328037
1,AA,14.3,5.9,4.3,24.5,-0.848214
2,AAL,11.5,12.3,5.3,29.1,-6.254438
3,AAP,0.1,8.3,3.1,11.5,NaN
4,AAPL,0.6,6.9,9.2,16.7,0.037975
...,...,...,...,...,...,...
776,YUM,4.0,12.0,4.0,20.0,-0.299225
777,Z,1.0,13.0,10.0,24.0,-0.468852
778,ZBH,4.0,15.0,8.0,27.0,-1.123009
779,ZTR,9.0,9.0,6.0,24.0,NaN
780,ZTS,1.0,8.0,9.0,18.0,0.093333

In [21]:
df['rise'].corr(df['Social Risk Score'])

-0.08961110880620198

In [22]:
df['rise'].corr(df['Environment Risk Score'])

0.03573348765179398

In [23]:
df['rise'].corr(df['Governance Risk Score'])

-0.05859413130731663

In [24]:
df['rise'].corr(df['sum'])

-0.038688003919609

Все ужас